@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: ;
}
li {
    text-decoration: none;
    font-size: 38px;
    margin-left: 10px;
    color:white;
    padding: 10px 10px;   
}
body {
    background-image: url('img/cri.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Amatic SC', cursive;
     
}
a {
            font-size: 60px;
            color: rgb(255,255,255);
            text-transform: uppercase;
            margin-left: 10px; 
            text-decoration: none;

        }
