
	@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');


		*{
			margin: 0;
			padding: 0;
		}

		
		a {
		    text-decoration: none;
			color: white;
			font-size: 50px;
			font-family: 'Amatic SC', cursive;
			margin-left: 20px;
			margin-top: 200px;
		}

		body {
			background-image: url('img/azul6.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
	 

			ul{
    width: auto;
    text-align: center;
    margin: 280px auto;
	
    padding: 20px; 
}
ul li {

    display: inline-block;
    font-size: 45px;
    padding: 10px;
    margin: 0px 0px 0px 25px;
    /*border:1px solid white;*/
    text-align: center;
    border-radius: 100px;
    color:white;
    transition: 0.5s;
	
}
ul li:hover{
    background-color: #ea8323;
    color:black;
}

		.jogo {
			width: 500px;
			margin: 350px;
			display: flex;
			/* flex-direction: column; */
			justify-content: space-between;
			/* border: solid; */
			padding: 20px;	
			justify-content: center;
			align-items: center;
		}

		.palavras {
			font-family: Arial;
			font-size: 22px;
			/* text-align: center; */
			color: white;
			width: 200px;
		}

		.palavras p {
			margin-top: 10px;
			margin-right:0em;
		}

		.cabecalho {
			/* width: 800px; */
			/* margin: 0 auto; */
			text-align: center;
			background-color: #396aba;
			color: white;
			font-size: 20px;
			font-family: 'Amatic SC', cursive;
		}
		
			.niveis{
			margin-top: -7em;
		}

			.array{
				cursor:pointer;
				margin-left: 200px;
			}
			.casa {
				border: 1px solid white; 
				
				text-align: center;
				color:#ffffff; 
				font-size: 23px; 
				font-family: Arial;
				padding: 10px;

			}
			.casa2 {
				border: 1px solid white; 
				
				text-align: center;
				background-color:white; 
				color:black;
				font-size: 23px; 
				font-family: Arial;
			}
			.botoes{
				font-size: 250px;

			}

			.palavrass{
				font-size: 16px;
			}
			
			.lista {
				width: 200px;
			}
	
