	@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
		*{
			margin: 0;
			padding: 0;
		}
		
		a {
		    text-decoration: none;
			color: white;
			font-size: 50px;
			font-family: 'Amatic SC', cursive;
			margin-left: 20px;
			margin-top: 200px;
		}
		body {
			background-image: url('img/cri.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			/*background-attachment: fixed;*/
			/*cursor:crosshair;*/
		}
	 
			ul{
    width: auto;
    text-align: center;
    margin: 10px auto;
    padding: 10px; 
}
ul li {
    display: inline-block;
    /*font-size: 25px;*/
    padding: 10px;
    margin: 0px 0px 0px 25px;
    /*border:1px solid white;*/
    text-align: center;
    border-radius: 100px;
    color:white;
    transition: 0.5s;
    /*position: absolute;*/
    margin-left: -40px;
}
ul li:hover{
    background-color: #ea8323;
    color:black;
}
		.jogo {
			width: 100px;
			margin: 10px auto;
			display: flex;
			 flex-direction: row; 
			justify-content: space-between;
			/* border: solid; */
			padding: 20px;	
			/*justify-content: center;*/
			align-items: center;
		}
		.palavras {
			font-family: Arial;
			font-size: 25px;
			/* text-align: center; */
			color: white;
			
			/*position: absolute;*/
			margin-left: 50px;
			margin-top: 50px;
			width: 600px;
			height: auto;
			
		}
		.palavras p {
			margin-top: 10px;
		}
		.cabecalho {
			/* width: 800px; */
			/* margin: 0 auto; */
			text-align: center;
			background-color: #1a7389;
			color: white;
			font-size: 20px;
			font-family: 'Amatic SC', cursive;
		}
	
	.botoes{
		font-size: 50px;
	}

		.array{
		cursor:pointer;
		margin-left: 150px;
	}
	.casa {
		border: 1px solid white; 
		
		text-align: center;
		color:#ffffff; 
		font-size: 23px; 
		font-family: Arial;
		padding: 10px;
	}
	.casa2 {
		border: 1px solid white; 
		
		text-align: center;
		background-color:white; 
		color:black;
		font-size: 23px; 
		font-family: Arial;
	}
	/* 
	 */

			
		
